body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.movieContainer{
    display: inline-flex;
    flex-wrap: wrap;
    gap: 12px;
}

.movieContainer .movie{
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    width: 320px;
    padding: 6px;
}